@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.header {
    display: flex;
    align-items: center;
    height: 100px;
    gap: 50px;
    padding:  0 5%;
}

.logo {
    color: #0290ff;
}

.navBar {
    display: flex;
    gap: 20px;
}

.link1 {
    text-decoration: none;
    width: 3.688rem;
    height: 1rem;
    font-family: Montserrat;
    font-size: 0.813rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.9px;
    color: #121212;
}

.link2 {
    text-decoration: none;
    width: 6.563rem;
    height: 1rem;
    opacity: 0.5;
    font-family: Montserrat;
    font-size: 0.813rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.9px;
    color: #121212;
}

.profile {
    border: 1px solid #e8e8e8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-left: 50%;
}
